<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Adjectives and Prepositions - Learn British English with Lucy - #Spon</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/05420408599E591A00000129FE0A5469</string>
		<key>videoURL</key>
		<string>https://v.youku.com/v_show/id_XMzAwMTYwNTI5Mg==.html?spm=a2h0k.8191407.0.0&amp;amp;from=s1.8-1-1.2</string>
		<key>createTime</key>
		<string>2017-11-10 12:09:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Make or Do Learn English for FREE with Lucy!</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/054204085704B0CB6A0A4604575B3471</string>
		<key>videoURL</key>
		<string>http://v.youku.com/v_show/id_XMTUyNTI5ODMzNg==.html?from=s1.8-1-1.2</string>
		<key>createTime</key>
		<string>2017-11-09 02:22:01</string>
	</dict>
	<dict>
		<key>title</key>
		<string>British English Expressions - Cloud Idioms - English With Lucy</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/054201015848E6126A0A48046026498E</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMjQ5ODk1MjYxMg%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.163.138&amp;ups_ts=1510474228&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=41f643d470891340ea672028068dc1ce&amp;duration=177&amp;expire=18000&amp;ups_key=e0e08755f6ce14f88a68a96709ef760d</string>
		<key>createTime</key>
		<string>2017-11-10 18:32:17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>TO or FOR - study english with lucy</string>
		<key>thumbnail</key>
		<string>http://vthumb.ykimg.com/05420101582E4E116A0A4904E04FC160</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTgyMzgyNjkxMg%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.163.138&amp;ups_ts=1510474852&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=f1fefcee6c6fd8d8058eb80c2a7b27d1&amp;duration=473&amp;expire=18000&amp;ups_key=469c27d6b1f6f4e49b2b634501073694</string>
		<key>createTime</key>
		<string>2017-11-08 11:56:09</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5 Common British Expressions (Episode 2)</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/054104085772C5846A0A49045E1B2DEE</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTYyNDUwNzA1Mg%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.164.219&amp;ups_ts=1510474896&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=80855c47163a60453d8718677f47acf9&amp;duration=187&amp;expire=18000&amp;ups_key=2544210934a11102a829b83aeb38c826</string>
		<key>createTime</key>
		<string>2017-11-10 12:09:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BRITISH ENGLISH PRONUNCIATION - /ɪə/ vowel sound | English with Lucy</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/054104085786745D6A0A4604E1E6C30B</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTY0MjY1NDY0NA%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.163.138&amp;ups_ts=1510475144&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=47a49c9f9896d25249cfb2bbfe0965f0&amp;duration=166&amp;expire=18000&amp;ups_key=4264867eb498202aa934611ffe761214</string>
		<key>createTime</key>
		<string>2017-11-10 21:57:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5 Common British Expressions (Episode 3)</string>
		<key>thumbnail</key>
		<string>https://vthumb.ykimg.com/05410408577101916A0A4F13308925C6</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTYyMjgzNTY0NA%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.163.138&amp;ups_ts=1510475238&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=20d8a63b8091af13ee9b8814c8765534&amp;duration=150&amp;expire=18000&amp;ups_key=fbbb108d5b031c5505ef1b3f5e7915f4</string>
		<key>createTime</key>
		<string>2017-11-10 10:00:22</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Australian vs British SLANG - English Vocabulary and phrases with Lucy!</string>
		<key>thumbnail</key>
		<string>http://vthumb.ykimg.com/0542040858F457BF000001828F0E04E3</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMjcxMjk4NzA2NA%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.163.138&amp;ups_ts=1510475500&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=331f06208ea2657e4c1ad96c8e83b93e&amp;duration=326&amp;expire=18000&amp;ups_key=8331879557bc216ea7a6949dd510ae17</string>
		<key>createTime</key>
		<string>2017-11-12 16:32:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Make or Do Learn English for FREE with Lucy!</string>
		<key>thumbnail</key>
		<string>http://vthumb.ykimg.com/054204085704B0CB6A0A4604575B3471</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTUyNTI5ODMzNg%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.164.102&amp;ups_ts=1510475595&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=aa2d990cd724649c6d4b552a178eb5af&amp;duration=298&amp;expire=18000&amp;ups_key=4183c194f29043e4a3d30c048ef6b28c</string>
		<key>createTime</key>
		<string>2017-11-12 16:34:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>English with Lucy and Papa Teach Me English Christmas VLOG</string>
		<key>thumbnail</key>
		<string>http://vthumb.ykimg.com/054201015848E6126A0A48046026498E</string>
		<key>videoURL</key>
		<string>http://pl-ali.youku.com/playlist/m3u8?vid=XMTg1NDYyMjkwMA%3D%3D&amp;type=flv&amp;ups_client_netip=123.117.164.102&amp;ups_ts=1510475751&amp;utid=g7KEEj%2BufiYCAXtwUTfuxlSu&amp;ccode=0502&amp;psid=5a7378c357629bc1b14601f9bb89acce&amp;duration=297&amp;expire=18000&amp;ups_key=1ef7f32a66f7c2dd24551e7028d52450</string>
		<key>createTime</key>
		<string>2017-11-12 16:36:39</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JXOProductions - LIVE Broadcasting</string>
		<key>thumbnail</key>
		<string>http://live.store.cmcm.com/big/liveme/poster/05412b9f4eb0d115ad8b9d6b9503991d_icon.jpeg</string>
		<key>videoURL</key>
		<string>http://8461.liveplay.myqcloud.com/live/8461_e8346b8c14a33d52fb80716308dab02a.m3u8</string>
		<key>createTime</key>
		<string>2017-11-12 11:15:22</string>
	</dict>
</array>
</plist>
